//- -
	var crumbs = {
		id: 'breadcrumbs',
		mainClass: 'breadcrumbs',
		mixClasses: 'page-main__breadcrumbs',
		lastCrumb: 'Last Crumb',
		items: [
			{anchor:'Crumb 0', attr:{href:'#'}},
			{anchor:'Crumb 1', attr:{href:'#'}},
			{anchor:'Crumb 2', attr:{href:'#'}},
			{anchor:'Crumb 3', attr:{href:'#'}},
		]
	};
	
