.accordion
	&__section
		&_opened
			.accordion__toggle
				&:after
					content '–'
					right 6px
					top 45%
	&__toggle
		position relative
		cursor pointer
		&:hover
			text-decoration underline
		&:after
			content '+'
			font sans-serif 20px 20px gray
			position absolute
			right 5px
			top 53%
			transform translateY(-50%)

	&__content
		display none
