.breadcrumbs
	list-style-type none
	padding 0
	margin 0
	display flex
	flex-wrap wrap

	&__item
		font sans-serif 14px 21px black
		margin-right 30px
		position relative
		&:after
			content '/'
			position absolute
			top 0px
			right -17px

		&_last
			font sans-serif 14px 21px black
			margin-right 0
			&:after
				content ''

	&__link

		font sans-serif 14px 21px black
		text-decoration none
		&:hover
			color orange
