.button
	display -webkit-flex
	display -ms-flex
	display flex
	align-items center
	justify-content center
	width 100%
	height 40px
	font sans-serif 16px 1 white
	text-decoration none
	text-transform uppercase
	background #f29b1a
	background linear-gradient(90deg, #f1a91d, #f38e17)
	border none
	border-radius 10px
	border-top-left-radius 30px
	transition .3s
	cursor pointer

	&:hover
		background #f1a91d
		background linear-gradient(90deg, #f38e17, #f38e17)

	&:focus
	&:active
		outline none

	&_inversed
		border 2px solid orange
		background transparent
		color orange
		&:hover
			background orange
			color #fff
