.totop
	display block
	fixed bottom -40px right -40px
	width 40px
	height 40px
	background transparent url(../images/totop/totop.svg) center center no-repeat
	background-size cover
	z-index 500
	opacity .8
	cursor pointer
	transition .2s ease-in-out

	&_showed
		bottom 20px
		right 20px
