//====================================
//===========CORE VARIABLES=======+++=
//====================================

// break points vars
breakPointTiny 		= 768px
breakPointSmall 	= 990px
breakPointMedium 	= 1200px

// container width vars
containerTinyWidth 		= 100%
containerSmallWidth 	= 720px
containerMediumWidth 	= 960px
containerLargeWidth 	= 1140px

// container padding left/right vars
ctPaddingL 	= 10px
ctPaddingR 	= 10px
csPaddingL 	= 0px
csPaddingR 	= 0px
cmPaddingL 	= 0px
cmPaddingR 	= 0px
clPaddingL 	= 0px
clPaddingR 	= 0px
