extends layouts/layout-front.pug

block title
	title project_page_name | project_name
	

block header
	include regions/header

block main-content
	
		
block footer
	include regions/footer
	
block overlay
	include blocks/overlay
	
block totop
	include blocks/totop
	
block touch-panel
	include blocks/touch-panel
	
block modals
	include blocks/modal
	
