mixin burger(mixClasses)
	// burger starts
	div(class='burger', class= mixClasses)
		.burger__layer.burger__layer_pos_top
		.burger__layer.burger__layer_pos_middle
		.burger__layer.burger__layer_pos_bottom
	// burger ends
	+nl()
