//- mixin 2 level menu
//- params:

//-
	- 																							// must be
		var testmenu = {	
			id: 'main-menu'
			mainClass: 'menu',													// main class 											(string)
			mixClasses: 'header__menu menu-desktop',		// mixed main classes  							(string)
			subClass: 'menu-dropdown',									// class for 2 level menu 					(string)
			mixSubClasses: '',													// mixed classes for 2 level menu 	(string)
			items: [
				{anchor:'Main', attr:{href:'index.html'}, mixedClasses: 'active'},
				{anchor:'Item 1 top level', attr:{href:'item1top.html'}, sub: [
					{anchor:'Item 1-1 sub level', attr:{href:'item1sub.html'}},
					{anchor:'Item 1-2 sub level', attr:{href:'item2sub.html'}, mixedClasses: 'active'},
					{anchor:'Item 1-3 sub level', attr:{href:'item3sub.html'}}
				]},
				{anchor:'Item 2 top level', attr:{href:'item2top.html'}},
				{anchor:'Item 3 top level', attr:{href:'item3top.html'}}
			]
		}
		
		items
			anchor 				- link anchor 								(string)
			attr 					- (html) attributes for link 	(object)
			mixedClasses	- classes for exact item 			(string)
			subitem				- data for 2 level menu 			(object)
				has anchor, attr, mixedClasses


mixin menu(opt)
	// menu starts
	ul(class= opt.mainClass, class= opt.mixClasses, id= opt.id)
		each item in opt.items
			li(class=opt.mainClass + '__item', class= item.mixedClasses)
				a(class=opt.mainClass + '__link')&attributes(item.attr)= item.anchor
				if item.sub
					ul(class= opt.subClass, class= opt.mixSubClasses)
						each subitem in item.sub
							li(class=opt.subClass + '__item', class= subitem.mixedClasses)
								a(class=opt.subClass + '__link')&attributes(subitem.attr)= subitem.anchor
	// menu ends
	+nl()
